#header {
    background-color: #d87c13dd;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

#main {
    background-color: #0077ffdd;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

#sidebar {
    background-color: #c44747;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-left: 510px;
}

#footer {
    background-color: #068b06;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
